<% layout('layout') -%>
<% if(!session.user) {%>
<div class="jumbotron">
    <h1>Welcome to Microblog</h2>
    <p> It's based on node.js</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">Login</a>
        <a class="btn btn-large" href="/reg"> Register Now</a>
    </p>
</div>
<% } else { %>
    <%- partial('say') %>
<% } %>
<%- partial('posts') %>
